@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(45deg, #b59fff, #8072ff);
  background-repeat: no-repeat;
  font-size: 1em;
  text-align: center;
  min-height: 97vh;
}
